In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

21/09/11 09:46:33 WARN Utils: Your hostname, Subhajits-MacBook-Air.local resolves to a loopback address: 127.0.0.1, but we couldn't find any external IP address!
21/09/11 09:46:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/09/11 09:46:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/09/11 09:46:35 WARN MacAddressUtil: Failed to find a usable hardware address from the network interfaces; using random bytes: 93:7c:77:72:bb:69:40:f1
21/09/11 09:46:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv',
                           header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
+----------+----------+---------------+------+
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [9]:
# groupby
df_pyspark.groupBy('test_score').sum().show()

+----------+---------------+--------------------+-----------+
|test_score|sum(test_score)|sum(interview_score)|sum(salary)|
+----------+---------------+--------------------+-----------+
|      null|           null|                   7|      72000|
|         6|              6|                   7|      60000|
|         9|              9|                   6|      70000|
|         8|             16|                  15|      95000|
|         7|             14|                  18|     142000|
|        10|             10|                  10|      65000|
+----------+---------------+--------------------+-----------+

In [10]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     504000|
+-----------+