# Installation and introduction

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pyspark) (0.10.9)
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv')

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [4]:
# first of all we need to create a spark session 
from pyspark.sql import SparkSession

In [7]:
!pip install findspark

Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: findspark
Successfully installed findspark-1.4.2
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [10]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

21/09/10 20:13:07 WARN Utils: Your hostname, Subhajits-MacBook-Air.local resolves to a loopback address: 127.0.0.1, but we couldn't find any external IP address!
21/09/10 20:13:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/09/10 20:13:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/09/10 20:13:10 WARN MacAddressUtil: Failed to find a usable hardware address from the network interfaces; using random bytes: d5:aa:cd:65:71:90:9d:fb

In [11]:
spark

In [12]:
df_pyspark = spark.read.csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv')

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [15]:
df_pyspark.show()

+----------+----------+---------------+------+
|       _c0|       _c1|            _c2|   _c3|
+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [18]:
df_pyspark = spark.read.option('header', 'true').csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv')

In [19]:
df_pyspark.show()

+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
+----------+----------+---------------+------+
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(5)

[Row(experience=None, test_score='8', interview_score='9', salary='50000'),
 Row(experience=None, test_score='8', interview_score='6', salary='45000'),
 Row(experience='five', test_score='6', interview_score='7', salary='60000'),
 Row(experience='two', test_score='10', interview_score='10', salary='65000'),
 Row(experience='seven', test_score='9', interview_score='6', salary='70000')]

In [23]:
df_pyspark.printSchema()    # info

root
 |-- experience: string (nullable = true)
 |-- test_score: string (nullable = true)
 |-- interview_score: string (nullable = true)
 |-- salary: string (nullable = true)

# Pyspark Dataframe

In [71]:
from pyspark.sql import SparkSession

In [72]:
spark = SparkSession.builder.appName('Datframe').getOrCreate()

In [73]:
spark

In [74]:
df_pyspark = spark.read.option('header', 'true').csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv')

In [75]:
df_pyspark.show()

+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
+----------+----------+---------------+------+
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [76]:
df_pyspark.printSchema()    # by default it takes the values as string

root
 |-- experience: string (nullable = true)
 |-- test_score: string (nullable = true)
 |-- interview_score: string (nullable = true)
 |-- salary: string (nullable = true)

In [77]:
df_pyspark = spark.read.option('header', 'true').csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv',
                                                    inferSchema=True)

In [78]:
# datatypes of column
df_pyspark.printSchema()

root
 |-- experience: string (nullable = true)
 |-- test_score: integer (nullable = true)
 |-- interview_score: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [79]:
# or
df_pyspark = spark.read.csv('/Users/subhajitsaha/Documents/Data Science Projects/Salary prediction/hiring.csv',
                           header=True,
                           inferSchema=True)

In [80]:
df_pyspark.printSchema()

root
 |-- experience: string (nullable = true)
 |-- test_score: integer (nullable = true)
 |-- interview_score: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [81]:
df_pyspark.columns

['experience', 'test_score', 'interview_score', 'salary']

In [82]:
df_pyspark.show()

+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
+----------+----------+---------------+------+
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [83]:
df_pyspark.select('experience')

DataFrame[experience: string]

In [84]:
df_pyspark.select('experience').show()

+----------+
|experience|
+----------+
|      null|
|      null|
|      five|
|       two|
|     seven|
|     three|
|       ten|
|    eleven|
+----------+

In [85]:
df_pyspark.select(['experience', 'test_score'])

DataFrame[experience: string, test_score: int]

In [86]:
df_pyspark.select(['experience', 'test_score']).show()

+----------+----------+
|experience|test_score|
+----------+----------+
|      null|         8|
|      null|         8|
|      five|         6|
|       two|        10|
|     seven|         9|
|     three|         7|
|       ten|      null|
|    eleven|         7|
+----------+----------+

In [87]:
df_pyspark.dtypes

[('experience', 'string'),
 ('test_score', 'int'),
 ('interview_score', 'int'),
 ('salary', 'int')]

In [88]:
df_pyspark.describe()

DataFrame[summary: string, experience: string, test_score: string, interview_score: string, salary: string]

In [89]:
df_pyspark.describe().show()

+-------+----------+------------------+------------------+------------------+
|summary|experience|        test_score|   interview_score|            salary|
+-------+----------+------------------+------------------+------------------+
|  count|         6|                 7|                 8|                 8|
|   mean|      null| 7.857142857142857|             7.875|           63000.0|
| stddev|      null|1.3451854182690985|1.6420805617960927|11501.552690211627|
|    min|    eleven|                 6|                 6|             45000|
|    max|       two|                10|                10|             80000|
+-------+----------+------------------+------------------+------------------+

In [90]:
# adding columns
df_pyspark = df_pyspark.withColumn('salary after promotion', df_pyspark['salary']+10000)

In [91]:
df_pyspark.show()

+----------+----------+---------------+------+----------------------+
|experience|test_score|interview_score|salary|salary after promotion|
+----------+----------+---------------+------+----------------------+
|      null|         8|              9| 50000|                 60000|
|      null|         8|              6| 45000|                 55000|
|      five|         6|              7| 60000|                 70000|
|       two|        10|             10| 65000|                 75000|
|     seven|         9|              6| 70000|                 80000|
|     three|         7|             10| 62000|                 72000|
|       ten|      null|              7| 72000|                 82000|
|    eleven|         7|              8| 80000|                 90000|
+----------+----------+---------------+------+----------------------+

In [92]:
# dropping columns
df_pyspark = df_pyspark.drop('salary after promotion')

In [93]:
df_pyspark.show()

+----------+----------+---------------+------+
|experience|test_score|interview_score|salary|
+----------+----------+---------------+------+
|      null|         8|              9| 50000|
|      null|         8|              6| 45000|
|      five|         6|              7| 60000|
|       two|        10|             10| 65000|
|     seven|         9|              6| 70000|
|     three|         7|             10| 62000|
|       ten|      null|              7| 72000|
|    eleven|         7|              8| 80000|
+----------+----------+---------------+------+

In [94]:
# rename column
df_pyspark = df_pyspark.withColumnRenamed('salary', 'new_salary')

In [95]:
df_pyspark.show()

+----------+----------+---------------+----------+
|experience|test_score|interview_score|new_salary|
+----------+----------+---------------+----------+
|      null|         8|              9|     50000|
|      null|         8|              6|     45000|
|      five|         6|              7|     60000|
|       two|        10|             10|     65000|
|     seven|         9|              6|     70000|
|     three|         7|             10|     62000|
|       ten|      null|              7|     72000|
|    eleven|         7|              8|     80000|
+----------+----------+---------------+----------+

In [96]:
# dropping rows
# df_pyspark = df_pyspark.na.drop(how='all', subset=['test_score'])
# how='any' means if any value is null in a row, drop that row, how='any' means if all values are null, then only drop
# thres means, if at least that many non-null values are there, then don't drop that row
# subset means, drop null values from that specific column

In [97]:
df_pyspark.show()

+----------+----------+---------------+----------+
|experience|test_score|interview_score|new_salary|
+----------+----------+---------------+----------+
|      null|         8|              9|     50000|
|      null|         8|              6|     45000|
|      five|         6|              7|     60000|
|       two|        10|             10|     65000|
|     seven|         9|              6|     70000|
|     three|         7|             10|     62000|
|       ten|      null|              7|     72000|
|    eleven|         7|              8|     80000|
+----------+----------+---------------+----------+

In [98]:
# fill the null values
df_pyspark = df_pyspark.na.fill(value='zero', subset=['experience'])

In [99]:
df_pyspark.show()

+----------+----------+---------------+----------+
|experience|test_score|interview_score|new_salary|
+----------+----------+---------------+----------+
|      zero|         8|              9|     50000|
|      zero|         8|              6|     45000|
|      five|         6|              7|     60000|
|       two|        10|             10|     65000|
|     seven|         9|              6|     70000|
|     three|         7|             10|     62000|
|       ten|      null|              7|     72000|
|    eleven|         7|              8|     80000|
+----------+----------+---------------+----------+

In [100]:
# handle missing values
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['test_score'], outputCols=['{}_imputed'.format(c) for c in ['test_score']]).setStrategy('mean')

In [101]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----------+---------------+----------+------------------+
|experience|test_score|interview_score|new_salary|test_score_imputed|
+----------+----------+---------------+----------+------------------+
|      zero|         8|              9|     50000|                 8|
|      zero|         8|              6|     45000|                 8|
|      five|         6|              7|     60000|                 6|
|       two|        10|             10|     65000|                10|
|     seven|         9|              6|     70000|                 9|
|     three|         7|             10|     62000|                 7|
|       ten|      null|              7|     72000|                 7|
|    eleven|         7|              8|     80000|                 7|
+----------+----------+---------------+----------+------------------+

In [102]:
df_pyspark.show()

+----------+----------+---------------+----------+
|experience|test_score|interview_score|new_salary|
+----------+----------+---------------+----------+
|      zero|         8|              9|     50000|
|      zero|         8|              6|     45000|
|      five|         6|              7|     60000|
|       two|        10|             10|     65000|
|     seven|         9|              6|     70000|
|     three|         7|             10|     62000|
|       ten|      null|              7|     72000|
|    eleven|         7|              8|     80000|
+----------+----------+---------------+----------+